.drum-pad {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-width: 70px;
	height: 70px;
	padding: 0;

	background-color: #f90;
	border: none;
	border-radius: 8px;
	box-shadow:
		inset 0 1px 1px rgba(255,255,255,0.3),
		0 2px 1px rgba(0,0,0,0.3);
	color: #000;

	font-size: 48px;
}

@media (min-width: 330px) {
	.drum-pad {
		width: 80px;
		height: 80px;
	}
}

@media (min-width: 400px) {
	.drum-pad {
		width: 100px;
		height: 100px;
	}
}

.drum-pad:active {
	border: none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
	transform: translateY(1px);
}

.drum-pad:focus {
	box-shadow: 0 0 4px 1px rgba(255,255,255,0.3);
	filter: brightness(1.3);
}

.drum-pad::-moz-focus-inner {
	border: none;
}
