.drum-machine {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 16px;
	padding: 16px;
}

.drum-machine__drum-pads {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	justify-items: center;
	max-width: 400px;
}
