<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<%= htmlWebpackPlugin.tags.headTags %>
		<script
			defer="defer"
			src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"
		></script>
	</head>
	<body></body>
</html>
