@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./fonts/Nunito-Bold.ttf') format('opentype');
}

:root {
	--background-color: #222;
	--foreground-color: #fff;
	--accent-color: #f90;
}

body {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Nunito', sans-serif;
}

a {
	color: inherit;
	text-decoration: underline #f90;
}

a:hover {
	color: #f90;
	text-decoration: none;
}

/* To override button styling in Chromium-based browsers. */
button {
	font-family: 'Nunito', sans-serif;
}
